@charset "utf-8";

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body,
html {
    overflow: hidden;
}

a {
    text-decoration: none;
    color: #2396ef;
    margin: 0 5px;
    font-size: 15px;
}

a:hover,
a:active {
    color: #db4429;
}

ul,
li {
    list-style: none;
}

p {
    line-height: 2em;
}


.ew-list-ul {
    counter-reset: section;
    padding: 4px 16px;
}

.ew-list-li {
    margin-bottom: 1em;
}

.ew-list-li:before {
    counter-increment: section;
    content: counters(section, ".") ".";
    margin-right: 0.1em;
    font-size: 25px;
    color: #e6a122;
}

.ew-tips {
    background-color: #f6f7f8;
    border-left: 3px solid #66b1ff;
    padding: 3px 8px;
    margin: 0.6em 0;
}

.container {
    padding: 15px;
    height: 100vh;
    overflow-x: hidden;
    overflow-y: auto;
    background-color: #fff;
    background-image: url('../../../images/bg-icon.png');
}

.container h1 {
    counter-increment: title-number;
}

.container h1[ id *="sec-"]::before {
    content: counter(title-number, simp-chinese-informal) "、";
}

.BEM-list-ul {
    counter-reset: anchorList;
    padding: 8px 12px;
}

.BEM-list-ul .BEM-list-li {
    margin-bottom: 1.2em;
}

.BEM-list-ul .BEM-list-li::before {
    counter-increment: anchorList;
    content: counters(anchorList, '.') ".";
    margin-right: 0.2em;
    font-size: 18px;
    color: #626063;
}

h1.ew-mark {
    color: rgb(71, 211, 94);
}

.container .ew-tips .ew-row {
    line-height: 1.8em;
}

.mainToTop {
    width: 45px;
    height: 45px;
    bottom: 28px;
    right: 15px;
    position: fixed;
}

.toTop {
    border-radius: 5px;
    background: url("https://www.eveningwater.com/static/image/ico-to-top.svg") no-repeat;
    background-size: cover;
    z-index: 999;
    cursor: pointer;
}

::-webkit-scrollbar {
    width: 5px;
    height: 5px;
    background-color: #c2c2c2;
}

::-webkit-scrollbar-thumb {
    width: 5px;
    height: 5px;
    background-color: #1d1c1c;
}

.ew-h1 {
    font-size: 32px;
    margin: .4em 0;
}
.ew-row {
    position: relative;
}
.ew-row::before,.ew-row::after {
    clear: both;
    display: table;
    content: "";
    visibility: hidden;
    height: 0;
}